/* COLOURS
===========================================
===========================================*/

// Blue
.u-blue90     { color: $Blue90; }
.u-blue80     { color: $Blue80; }
.u-blue70     { color: $Blue70; }
.u-blue60     { color: $Blue60; }
.u-blue        { color: $Blue; }
.u-blue40     { color: $Blue40; }
.u-blue30     { color: $Blue30; }
.u-blue20     { color: $Blue20; }
.u-blue10     { color: $Blue10; }

.u-bg-blue90  { background-color: $Blue90; }
.u-bg-blue80  { background-color: $Blue80; }
.u-bg-blue70  { background-color: $Blue70; }
.u-bg-blue60  { background-color: $Blue60; }
.u-bg-blue     { background-color: $Blue; }
.u-bg-blue40  { background-color: $Blue40; }
.u-bg-blue30  { background-color: $Blue30; }
.u-bg-blue20  { background-color: $Blue20; }
.u-bg-blue10  { background-color: $Blue10; }



// Violet
.u-violet900      { color: $Violet900; }
.u-violet800      { color: $Violet800; }
.u-violet700      { color: $Violet700; }
.u-violet         { color: $Violet; }
.u-violet300      { color: $Violet300; }
.u-violet200      { color: $Violet200; }
.u-violet100      { color: $Violet100; }

.u-bg-violet900   { background-color: $Violet900; }
.u-bg-violet800   { background-color: $Violet800; }
.u-bg-violet700   { background-color: $Violet700; }
.u-bg-violet      { background-color: $Violet; }
.u-bg-violet300   { background-color: $Violet300; }
.u-bg-violet200   { background-color: $Violet200; }
.u-bg-violet100   { background-color: $Violet100; }



// Purple
.u-purple900      { color: $Purple900; }
.u-purple800      { color: $Purple800; }
.u-purple700      { color: $Purple700; }
.u-purple         { color: $Purple; }
.u-purple300      { color: $Purple300; }
.u-purple200      { color: $Purple200; }
.u-purple100      { color: $Purple100; }

.u-bg-purple900   { background-color: $Purple900; }
.u-bg-purple800   { background-color: $Purple800; }
.u-bg-purple700   { background-color: $Purple700; }
.u-bg-purple      { background-color: $Purple; }
.u-bg-purple300   { background-color: $Purple300; }
.u-bg-purple200   { background-color: $Purple200; }
.u-bg-purple100   { background-color: $Purple100; }



// Pink
.u-pink900      { color: $Pink900; }
.u-pink800      { color: $Pink800; }
.u-pink700      { color: $Pink700; }
.u-pink         { color: $Pink; }
.u-pink300      { color: $Pink300; }
.u-pink200      { color: $Pink200; }
.u-pink100      { color: $Pink100; }

.u-bg-pink900   { background-color: $Pink900; }
.u-bg-pink800   { background-color: $Pink800; }
.u-bg-pink700   { background-color: $Pink700; }
.u-bg-pink      { background-color: $Pink; }
.u-bg-pink300   { background-color: $Pink300; }
.u-bg-pink200   { background-color: $Pink200; }
.u-bg-pink100   { background-color: $Pink100; }



// Aqua
.u-aqua900      { color: $Aqua900; }
.u-aqua800      { color: $Aqua800; }
.u-aqua700      { color: $Aqua700; }
.u-aqua         { color: $Aqua; }
.u-aqua300      { color: $Aqua300; }
.u-aqua200      { color: $Aqua200; }
.u-aqua100      { color: $Aqua100; }

.u-bg-aqua900   { background-color: $Aqua900; }
.u-bg-aqua800   { background-color: $Aqua800; }
.u-bg-aqua700   { background-color: $Aqua700; }
.u-bg-aqua      { background-color: $Aqua; }
.u-bg-aqua300   { background-color: $Aqua300; }
.u-bg-aqua200   { background-color: $Aqua200; }
.u-bg-aqua100   { background-color: $Aqua100; }



// Pear
.u-pear900      { color: $Pear900; }
.u-pear800      { color: $Pear800; }
.u-pear700      { color: $Pear700; }
.u-pear         { color: $Pear; }
.u-pear300      { color: $Pear300; }
.u-pear200      { color: $Pear200; }
.u-pear100      { color: $Pear100; }

.u-bg-pear900   { background-color: $Pear900; }
.u-bg-pear800   { background-color: $Pear800; }
.u-bg-pear700   { background-color: $Pear700; }
.u-bg-pear      { background-color: $Pear; }
.u-bg-pear300   { background-color: $Pear300; }
.u-bg-pear200   { background-color: $Pear200; }
.u-bg-pear100   { background-color: $Pear100; }



// Gold
.u-gold900      { color: $Gold900; }
.u-gold800      { color: $Gold800; }
.u-gold700      { color: $Gold700; }
.u-gold         { color: $Gold; }
.u-gold300      { color: $Gold300; }
.u-gold200      { color: $Gold200; }
.u-gold100      { color: $Gold100; }

.u-bg-gold900   { background-color: $Gold900; }
.u-bg-gold800   { background-color: $Gold800; }
.u-bg-gold700   { background-color: $Gold700; }
.u-bg-gold      { background-color: $Gold; }
.u-bg-gold300   { background-color: $Gold300; }
.u-bg-gold200   { background-color: $Gold200; }
.u-bg-gold100   { background-color: $Gold100; }



// Greyscale
.u-white        { color: $White; }

.u-grey90      { color: $Grey90; }
.u-grey80      { color: $Grey80; }
.u-grey70      { color: $Grey70; }
.u-grey60      { color: $Grey60; }
.u-grey        { color: $Grey; }
.u-grey40      { color: $Grey40; }
.u-grey30      { color: $Grey30; }
.u-grey20      { color: $Grey20; }
.u-grey10      { color: $Grey10; }

.u-black        { color: $Black; }



.u-bg-white    { background-color: $White; }

.u-bg-grey90   { background-color: $Grey90; }
.u-bg-grey80   { background-color: $Grey80; }
.u-bg-grey70   { background-color: $Grey70; }
.u-bg-grey60   { background-color: $Grey60; }
.u-bg-grey     { background-color: $Grey; }
.u-bg-grey40   { background-color: $Grey40; }
.u-bg-grey30   { background-color: $Grey30; }
.u-bg-grey20   { background-color: $Grey20; }
.u-bg-grey10   { background-color: $Grey10; }

.u-bg-black    { background-color: $Black; }