/* ==========================================================================
   #LEGO
   ========================================================================== */

/*
  LEGO
*/

.lego {

  margin: 0 60px 60px;

  *+* {
    margin-bottom: initial;
  }

  .container {
    box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
  }



  $gutter: 30px;
  .container,
  .element {
     padding: $gutter / 2;
  }

}
