/* FORMS
===========================================
===========================================*/

fieldset {
  border: 0;
  min-width: 0;
  padding: 0;
}

label {
  display: block;
  line-height: var(--lh-copy);
}

input, textarea, select {
  border: 1px solid silver;
  display: block;
  font-size: var(--f5);
  padding: var(--u1);
}