/* NUMBER INDICATOR
===========================================
===========================================*/

.c-count {
  background-color: red;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: $f7;
  font-weight: bold;
  line-height: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;

  height: 24px;
  width: 24px;
}