/* KEY BLOCKS
===========================================
These are characterised by a maximum of
three items, and less than that and they 
will fill the space available.
===========================================*/

.c-key-block {
  margin: 0;
  padding: 0;

  @include mq-m {
    display: flex;
    flex-wrap: wrap;    
  }
}

  .c-key-block__item {
    @include mq-m {
      display: inline-block;
      flex: 1 1 auto;
      list-style-type: none;
      text-align: center;
      width: 33%;
  
    }
  }

    .c-key-block__img-wrap {
      display: table-cell;
      padding: var(--u2) var(--u2);
      width: 25%;
      
      @include mq-m {
        display: block;
        padding: var(--u2) var(--u4);
        width: 100%;
      }

      @include mq-l {
        padding: var(--u3) var(--u5);
      }

      img {
        width: 100%;
      }
    }

    .c-key-block__copy {
      display: table-cell;
      padding: var(--u2) 0;
      vertical-align: middle;
      width: 65%;

      & * {
        margin-bottom: 0;
      }

      @include mq-m {
        padding: var(--u2) var(--u4);
        width: inherit;
      }
    }

    .c-key-block__link {
      display: table-cell;
      padding-right: var(--u2);
      padding-bottom: var(--u2);
      text-align: right;
      vertical-align: bottom;
      width: 25%;

      @include mq-m {
        display: inline-block;
        padding: var(--u2) var(--u2);
        // width: inherit;
      }
    }    