/* NAV PRIMARY
===========================================
  For now, this holds only the styles for
  the publican channel primary navigation.
===========================================*/



.c-menu {
  background: White;
  border-bottom: 1px solid $Grey;
  // display: table;
  margin-right: -5px;
  margin-left: -5px;

  @include mq-m {
    margin-bottom: 0px;
    position: relative;
    z-index: 10;

    &:last-child {
      border-right: inherit;
    }
  }
}


  .c-menu__logo {
    // display: table-cell;
    // line-height: initial;
    // padding: 10px;
    // vertical-align: middle;
    // width: 30%;

    // @include mq-m {
    //     padding: 12px 20px;
    //     width: 20%;
    // }
  }

  .c-menu__logo img {
    max-width: 100%;
  }


.c-menu__list {
    // display: table;
    // float : right;
    // margin-bottom: 0;
    // text-align: right;
    // vertical-align: middle;
    // width: 95%;

    // @include mq-m {
    //   width: 70%;
    // }
}




.c-menu__item {
  padding: 0 50px;
  // display: table-cell;
  // margin-right: 8%;
  // position: relative;

  @include mq-m {
    // margin-right: 6%;
  }
}


.c-menu__item a {
  padding-top: var(--u2);
  padding-bottom: var(--u2);
  text-align: center;

  @include mq-m {
    padding-top: var(--u4);
    padding-bottom: var(--u4);
  }
}






  .c-menu__logo .c-menu__link {
    line-height: initial
  }

  .c-menu__link {
    display: block;
  }


  .c-menu__hamburger {
    background-color: #000;
    padding: 0 10px;
    margin-right: 0;
    // width : 56px;

    @include mq-m {
      .c-menu__hamburger {
        padding: 0 var(--u3);
      }
    }

  }

.c-menu__hamburger .c-menu__link {
  display: block;
  line-height: 0;
  width: var(--u5);
}