/* APPLICANT TIMELINE
===========================================

===========================================*/

.table-timeline {

  th {
    background: $Black;
    border: none;
    color: $White;
  }

  td {
    border: none;
    padding-top: var(--u2);
    padding-bottom: var(--u2);
  }

}