/* COMPONENTS
===========================================
===========================================*/

  // TABS


  .c-tabs {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding-left: 0;
    width: 100%; 

    // border-bottom-width: 0.2em;
    // border-bottom-style: solid;
    // border-radius: 2px;
    // display: inline-block;
    // padding: var(--u1) var(--u3);
    // text-decoration: none;
  }


  .c-tabs_item {
    display: inline-block;
  }