/*

2. Flow algorithm and exceptions (using the 'lobotomized owl' selector).

*/


/* // 2. LAYOUT FLOW
// ---------------------- */

* + *,
li:first-child,
dt:first-child,
article:first-child {
  margin-bottom: var(--u1);
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-bottom: var(--u1);
}
